<!--button1是注册患者， button2是获取验证码， button3是注册医师-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/assets/css/register.css">
    <link rel="stylesheet" href="../static/assets/css/common.css">
    <script src="../static/assets/js/jquery-3.7.1.min.js"></script>
</head>
<body>

<div class="container">
    <div class="content">
        <h1>开始创建您的个人账户吧！</h1>
        <a>您可以使用手机号作为您的账户</a>
        <p>请输入您的账号和密码</p>
        <div>
            <input type="text" id="account" placeholder="请输入您的账号...">
            <button class="btn-second">获取验证码</button>
        </div>
        <div>
            <input type="identify" id="code" placeholder="请输入验证码...">
        </div>
        <div>
            <input type="password" id="password" placeholder="请输入您的密码...">
        </div>
        <div>
            <input type="password" id="confirm-password" placeholder="请再次输入您的密码...">
        </div>
        <button class="btn-first">注册患者</button>
        <button class="btn-third">注册医师</button>
        <div>
            <br>·已注册过账号？<a href="/login">-点此登录-</a></br>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $(".btn-first").click(function () {
                var account = $("#account").val();
                var code = $("#code").val();
                var password = $("#password").val();
                var confirmPassword = $("#confirm-password").val();
                if (password !== confirmPassword) {
                    alert('两次输入的密码不匹配！');
                    return false;
                }
                // 发送Ajax POST请求到服务器的注册处理页面
                $.ajax({
                    type: "POST",
                    url: "/user/register",
                    data: {
                        "phone": account,
                        "code": code,
                        "pwd": password,
                    },
                    success: function (response) {
                        alert(response.message)
                        window.location.href = response.data["redirectUrl"];
                    }
                })
            }
        );
        $(".btn-second").click(function () {
            var account = $("#account").val();
            // 发送Ajax POST请求到服务器的登录处理页面
            $.ajax({
                type: "GET",
                url: "/user/sendSms?phone=" + account,
                success: function (response) {
                    // 登录成功的处理
                    alert(response.message);
                }
            });
            var $button = $(this);
            $button.prop('disabled', true);

            var seconds = 60;
            $button.text('请等待 ' + seconds + ' 秒');

            var intervalId = setInterval(function () {
                seconds--;
                $button.text('请等待 ' + seconds + ' 秒');

                if (seconds <= 0) {
                    clearInterval(intervalId);
                    $button.text('获取验证码');
                    $button.prop('disabled', false);
                }
            }, 1000);
        });
    });

</script>
</html>